<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Vue Box Playground</title>
    <link href="style.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="app">
      <h1>CSS3 Perspective Playground.</h1>
      
      <main>
	
	<section class="settings">
	  <div class="settings-container">
	    <label>prespective: {{ perspective }}px;</label>
	    <input type="range" min="0" max="999" v-model="perspective" />
	    <label>rotateX: {{rotatex}}deg;</label>
	    <input type="range" min="-180" max="180" v-model="rotatex"/>
	    <label>rotateY: {{rotatey}}deg;</label>
	    <input type="range" min="-180" max="180" v-model="rotatey"/>
	    <label>rotateZ: {{rotatez}}deg;</label>
	    <input type="range" min="-180" max="180" v-model="rotatez"/>
	  </div>
	</section>
	<div class="btn-block">
	  <button @click.prevent="reset">Reset</button>
	  <button @click.prevent="copy">Copy</button>
	</div>
	<section class="output">
	  <div class="box-container">
	    <div class="box" :style="box"></div>
	  </div>
	</section>
      </main>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
  </body>
</html>
