html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    background: #261c33;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    color: #8d81f3;
    font-size: 40px;
    margin: 20px;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 440px;
    width: 800px;
    margin: 0 auto;
    font-family: monospace, sans-serif;
    font-size: 17px;
}

label{
    color: white;
    display: block;
}

input[type="range"]{
    display: block;
    width: 200px;
}

section.settings {
    width: 50%;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

section.output {
    width: 50%;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.box {
    background: #8d8fff;
    height: 175px;
    width: 175px;
}

.btn-block{
    display: flex;
    flex-direction: column;
}

button{
    padding: 10px;
    margin: 10px;
    height: 40px;
    width: 90px;
    color: white;
    background: #8d8fff;
    border-radius: 5px;
}
